.content-body
{
    min-height: 100%;
    display: block;
    padding: 60px 1rem ;
    background-color: #f6f0d6 ;

}

.sidenav-container {
  height: 64px;
  margin-bottom: 16px;
  width: 100%;
  white-space: normal;
  word-break: break-word;
  
}
.chat-dialog .mat-dialog-container {
  padding: 0;
  border-radius: 12px;
}
.container{
background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);

}
.example-card {
  display:grid;
  max-width: 100%;
  
 

}
.header{
  font-size: 24px;
  font-weight: bold;
  color: #3f51b5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sidenav {
  width: 200px;
  
}
::ng-deep .small-toggle.mat-slide-toggle {
  transform: scale(0.75); /* Adjust the scale as needed */
  transform-origin: right center; /* Optional: align correctly */
}
.menu-button {
  margin-right: 16px;
}

.spacer {
  flex: 1 1 auto;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  z-index: 100;
}
